/*  your css code here. If applicable */
.star {
	margin: 50px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid yellow;
	transform: rotate(0deg);
	position: relative;
}

.star::before {
	width: 0;
	height: 0;
	content: "";
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid yellow;
	transform: rotate(-180deg);
	position: absolute;
	left: -50px;
	top: 25px;
	
}